@mixin register-typography-component-tokens() {
	--g-token-text-gap: var(--g-token-space-2);
	--g-token-text-color: var(--g-token-color-on-surface);
	--g-token-text-icon-size: var(--g-token-icon-size-m);
	--g-token-text-h-1-size: 6rem;
	--g-token-text-h-1-line-height: 1;
	--g-token-text-h-1-weight: 300;
	--g-token-text-h-2-size: 3.75rem;
	--g-token-text-h-2-line-height: 1;
	--g-token-text-h-2-weight: 300;
	--g-token-text-h-3-size: 3rem;
	--g-token-text-h-3-line-height: 1.05;
	--g-token-text-h-3-weight: 400;
	--g-token-text-h-4-size: 2.125rem;
	--g-token-text-h-4-line-height: 1.175;
	--g-token-text-h-4-weight: 400;
	--g-token-text-h-5-size: 1.5rem;
	--g-token-text-h-5-line-height: 1.333;
	--g-token-text-h-5-weight: 400;
	--g-token-text-h-6-size: 1.25rem;
	--g-token-text-h-6-line-height: 1.6;
	--g-token-text-h-6-weight: 500;
	--g-token-text-subtitle-1-size: 1rem;
	--g-token-text-subtitle-1-line-height: 1.75;
	--g-token-text-subtitle-1-weight: 400;
	--g-token-text-subtitle-2-size: 0.875rem;
	--g-token-text-subtitle-2-line-height: 1.6;
	--g-token-text-subtitle-2-weight: 500;
	--g-token-text-small-size: 0.875rem;
	--g-token-text-small-line-height: 1.425;
	--g-token-text-small-weight: 400;
	--g-token-text-caption-size: 0.75rem;
	--g-token-text-caption-line-height: 1.667;
	--g-token-text-caption-weight: 400;
	--g-token-text-body-size: 1rem;
	--g-token-text-body-line-height: 1.5;
	--g-token-text-body-weight: 400;
}
