{
    "trailingComma": "none",
    "tabWidth": 4,
    "singleAttributePerLine": true,
    "semi": true,
    "useTabs": true,
    "singleQuote": true,
    "arrow-body-style": "as-needed",
    "vueIndentScriptAndStyle": true,
    "bracketSameLine": true
}
