@use './tokens/primitives' as primitives;
@use './tokens/semantic' as semantic;
@use './tokens/components' as components;

@mixin register-design-tokens() {
	--g-theme-primary: 112, 74, 255;
	--g-theme-on-primary: 255, 255, 255;
	--g-theme-surface: 255, 255, 255;
	--g-theme-on-surface: 29, 27, 32;
	--g-theme-background: 255, 251, 254;
	--g-theme-shadow: 0, 0, 0;
	--g-theme-error: 186, 26, 26;
	--g-theme-on-error: 255, 255, 255;
	--g-theme-error-container: 255, 218, 214;
	--g-theme-warning: 146, 76, 0;
	--g-theme-on-warning: 255, 255, 255;
	--g-theme-warning-container: 255, 223, 186;
	--g-theme-success: 46, 125, 50;
	--g-theme-on-success: 255, 255, 255;
	--g-theme-success-container: 196, 255, 189;

	@include primitives.register-primitive-tokens();
	@include semantic.register-semantic-tokens();
	@include components.register-component-tokens();

	--g-token-gradient-main: var(--g-gradient-main);
	--g-token-gradient-error: var(--g-gradient-error);
	--g-token-gradient-warning: var(--g-gradient-warning);
	--g-token-gradient-success: var(--g-gradient-success);
}
