@use 'styles/tokens' as tokens;
@use 'styles/helpers';
@use '@fontsource/manrope/200.css' as roboto200;
@use '@fontsource/manrope/300.css' as roboto300;
@use '@fontsource/manrope/400.css' as roboto400;
@use '@fontsource/manrope/500.css' as roboto500;
@use '@fontsource/manrope/700.css' as roboto700;
@use '@fontsource/manrope/800.css' as roboto800;
@use '@mdi/font/css/materialdesignicons.css' as mdi;

body {
	font-family: var(--g-token-font-family-base);
	color: var(--g-token-color-on-surface);
	background-color: rgb(var(--g-theme-background));
}

* {
	font-family: var(--g-token-font-family-base);
	font-weight: var(--g-token-font-weight-regular);
}

:root {
	@include tokens.register-design-tokens();
}

html.g-theme--light {
	--g-token-elevation-1-opacity: 0.1;
	--g-token-elevation-2-opacity: 0.14;
	--g-token-elevation-3-opacity: 0.18;
	--g-token-field-surface-tint-opacity: 0.04;

	color-scheme: light;
}

html.g-theme--dark {
	--g-token-elevation-1-opacity: 0.28;
	--g-token-elevation-2-opacity: 0.34;
	--g-token-elevation-3-opacity: 0.42;
	--g-token-field-surface-tint-opacity: 0.12;

	color-scheme: dark;
}

.g-ripple__container {
	pointer-events: none;

	position: absolute;
	inset: 0;

	overflow: hidden;

	border-radius: inherit;

	color: inherit;
}

.g-ripple__animation {
	will-change: transform, opacity;

	position: absolute;
	transform: scale(0);

	border-radius: 50%;

	opacity: var(--g-ripple-opacity, 0.16);
	background: var(--g-ripple-color, currentcolor);

	animation: g-ripple-animation var(--g-ripple-duration, 520ms)
		var(--g-token-easing-standard);
}

@keyframes g-ripple-animation {
	to {
		transform: scale(1);
		opacity: 0;
	}
}
