@mixin disabled($prefix: null) {
	@if $prefix {
		.#{$prefix}_disabled {
			pointer-events: none;
			opacity: var(--g-token-opacity-soft);
		}
	}

 @else {
		pointer-events: none;
		opacity: var(--g-token-opacity-soft);
	}
}
