@mixin variant-outlined($prefix, $border-property: border, $shadow: null) {
	.#{$prefix}_outlined {
		--g-surface-content-color: var(--g-color);
		--g-surface-underlay-color: transparent;
		--g-surface-underlay-opacity: 0;
		--g-surface-overlay-color: var(--g-color);
		--g-surface-overlay-opacity: 0;

		#{$border-property}: 1px solid currentcolor;

		@if $border-property == outline {
			outline-offset: -1px;
		}

		@if $shadow != null {
			box-shadow: $shadow;
		}

		&:hover {
			--g-surface-overlay-opacity: var(--g-token-state-hover-opacity);
		}
	}
}

@mixin variant-tonal($prefix, $shadow: null) {
	.#{$prefix}_tonal {
		--g-surface-content-color: var(--g-color);
		--g-surface-underlay-color: var(--g-surface-color);
		--g-surface-underlay-opacity: 1;
		--g-surface-overlay-color: var(--g-color);
		--g-surface-overlay-opacity: var(--g-token-state-tonal-opacity);

		background-color: transparent;

		@if $shadow != null {
			box-shadow: $shadow;
		}

		&:hover {
			--g-surface-overlay-opacity: var(
				--g-token-state-tonal-hover-opacity
			);
		}
	}
}

@mixin variant-text($prefix, $shadow: null) {
	.#{$prefix}_text {
		--g-surface-content-color: var(--g-color);
		--g-surface-underlay-color: transparent;
		--g-surface-underlay-opacity: 0;
		--g-surface-overlay-color: var(--g-color);
		--g-surface-overlay-opacity: 0;

		@if $shadow != null {
			box-shadow: $shadow;
		}

		&:hover {
			--g-surface-overlay-opacity: var(--g-token-state-hover-opacity);
		}
	}
}

@mixin variant-filled($prefix) {
	.#{$prefix}_filled,
	.#{$prefix}_default {
		--g-surface-content-color: var(--g-on-color);
		--g-surface-underlay-color: var(--g-color);
		--g-surface-underlay-opacity: 1;
		--g-surface-overlay-color: var(--g-on-color);
		--g-surface-overlay-opacity: 0;

		&:hover {
			--g-surface-overlay-opacity: var(--g-token-state-hover-opacity);
		}
	}
}
