// styles/mixins/_variants.scss

.test-class { color: red; }

@mixin variant-filled($prefix) {
    .#{$prefix}_filled {
        color: white;
        background-color: var(--g-primary-color);

        &:hover {
            color: white;
            background-color: var(--g-primary-color-hover);
        }
    }
}

@mixin variant-outlined($prefix) {
    .#{$prefix}_outlined {
        border: 1px solid var(--g-primary-color);
        color: var(--g-primary-color);
        background: transparent;

        &:hover {
            background-color: rgb(0 0 0 / 5%);
        }
    }
}

@mixin variant-tonal($prefix) {
    .#{$prefix}_tonal {
        color: var(--g-on-tonal);
        background-color: var(--g-tonal);

        &:hover {
            color: var(--g-on-tonal);
            background-color: var(--g-tonal-hover);
        }
    }	
}

@mixin variant-text($prefix) {
    .#{$prefix}_text {
        color: var(--g-primary-color);
        background: transparent;

        &:hover {
            color: var(--g-primary-color);
            background-color: rgb(0 0 0 / 5%);
        }
    }
}
