@mixin variant-outlined($prefix) {
	.#{$prefix}_outlined {
		--g-surface-content-color: var(--g-color);
		--g-surface-underlay-color: transparent;
		--g-surface-underlay-opacity: 0;
		--g-surface-overlay-color: var(--g-color);
		--g-surface-overlay-opacity: 0;

		border: 1px solid currentcolor;

		&:hover {
			--g-surface-overlay-opacity: var(--g-token-state-hover-opacity);
		}
	}
}

@mixin variant-tonal($prefix) {
	.#{$prefix}_tonal {
		--g-surface-content-color: var(--g-color);
		--g-surface-underlay-color: var(--g-surface-color);
		--g-surface-underlay-opacity: 1;
		--g-surface-overlay-color: var(--g-color);
		--g-surface-overlay-opacity: var(--g-token-state-tonal-opacity);

		background-color: transparent;

		&:hover {
			--g-surface-overlay-opacity: var(
				--g-token-state-tonal-hover-opacity
			);
		}
	}
}

@mixin variant-text($prefix) {
	.#{$prefix}_text {
		--g-surface-content-color: var(--g-color);
		--g-surface-underlay-color: transparent;
		--g-surface-underlay-opacity: 0;
		--g-surface-overlay-color: var(--g-color);
		--g-surface-overlay-opacity: 0;

		&:hover {
			--g-surface-overlay-opacity: var(--g-token-state-hover-opacity);
		}
	}
}

@mixin variant-filled($prefix) {
	.#{$prefix}_filled,
	.#{$prefix}_default {
		--g-surface-content-color: var(--g-on-color);
		--g-surface-underlay-color: var(--g-color);
		--g-surface-underlay-opacity: 1;
		--g-surface-overlay-color: var(--g-on-color);
		--g-surface-overlay-opacity: 0;

		&:hover {
			--g-surface-overlay-opacity: var(--g-token-state-hover-opacity);
		}
	}
}
